<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head.ejs') %>
    <title><%= title %></title>
</head>

<body>
    <header>
        <%- include('../../partials/header.ejs') %>
    </header>

    <section class= "createProduct">
       
        <div class="formWrapper">

            <div class="create-product-introWrapper">
                <h1 class="small-title-createProduct">
                    <% if (product === null) { %>
                        Crear producto
                    <% } else { %>
                        Editar un producto
                    <% } %>
                </h1>
            </div>

            <% if (product === null) { %>
                <form action="/productos/crear" method="POST" enctype="multipart/form-data">
                <% } else { %>        
                <form action="/productos/editar/<%= product?.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <% } %>
                <div class="form-create-product">
               
                    <div class="input-wrapper">
                        <input class="input"  type="text" name="name"  placeholder=" " id="name" value="<%= product?.name %>">
                        <label for="name" class="label">Nombre del producto</label>
                    </div>

                    <div class="input-wrapper">
                        <input class="input"  type="text" name="slug"  placeholder=" " id="slug" value="<%= product?.slug %>">
                        <label for="slug" class="label">Slug</label>
                    </div>
    
                    <div class="input-wrapper">
                        <input class="input" type="number" name="price"  placeholder=" " id="price" value="<%= product?.price %>">
                        <label for="price" class="label">Precio</label>
                    </div>

                    <div class="input-wrapper">

                        <label for="category">Categoría</label>
    
                        <select name="category" id="category">
                        <% for( let i = 0; i < categories.length; i++ ) { %>
                            <option value="<%= categories[i].name  %>" > <%= categories[i].name  %> </option>
                        <% } %> 
              
                    </select>

    
                    </div>
    
    
                    <div class="input-wrapper">
    
                        <label for="subcategory">Subcategoría</label>
    
                        <select name="subcategory" id="subcategory">
                        </select>
    
                    </div>


                    <div class="input-wrapper">

                        <label for="hasEdition">Tiene Edicion?</label>
    
                        <select name="hasEdition" id="hasEdition">
                          <option value=1 <%= product?.hasEdition == 1 ? "selected" : "" %> >Si</option>
                          <option value=0 <%= product?.hasEdition == 0 ? "selected" : "" %>>No</option>
                        
                        </select>
    
                    </div>
    
    
                    <div class="input-wrapper">
                        <input class="input"  type="text" name="edition"  placeholder=" " id="edition" value="<%= product?.edition %>">
                        <label for="edition" class="label">Edición (Digite separado por comas cada edición con formato nombre;precio) (Ej: Game of the year;350000, Standard;250000, Digital;170000)</label>
                    </div>
    
                    <div class="input-wrapper">
                        <input class="input" type="number" name="stock" value="<%= product?.stock %>"  placeholder=" " id="stock">
                        <label for="stock" class="label">Stock</label>
                    </div>

                    <div class="input-wrapper">
                        <textarea class="input"  name="description"  placeholder=" " id="description">
                            <%= product?.description %>
                        </textarea>
                        <label for="description" class="label">Descripcion del producto</label>
                    </div>


                    <div class="input-wrapper">

                        <label for="type">Nuevo/Usado</label>
    
                        <select name="type" id="type">
                          <option <%= product?.type == 'nuevo' ? "selected" : "" %> value="nuevo">Nuevo</option>
                          <option <%= product?.type == 'usado' ? "selected" : "" %> value="usado"  >Usado</option>
                        </select>
                    </div>

                    <div class="input-wrapper">

                        <label for="mainImage">Imagen principal</label>

                        <input type="file"
                            id="mainImage" name="mainImage"
                            accept="image/png, image/jpeg">
    
                    </div>

                    <div class="input-wrapper">

                        <label for="secondImage">Imagen Secundaria</label>

                        <input type="file"
                            id="secondImage" name="secondImage"
                            accept="image/png, image/jpeg">
    
                    </div>

                  
                    <div class="input-wrapper">
                        <% if (product !== null) { %>
                        <button type="submit" class="btn-create-product">Actualizar producto</button>
                        <% } else { %>
                        <button type="submit" class="btn-create-product">Crear producto</button>
                        <% } %>
                    </div>
                    <div class="input-wrapper">

                        <button type="reset" class="btn-create-product">Resetear formulario</button>
    
                    </div>



            </div>

 

            </form> 
       
            <% if (product !== null) { %>
                <div class="input-wrapper">
                <form action="/productos/eliminar/<%= product?.id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn-create-product">Eliminar producto</button>
                  </form> 
                </div>
            <% } %>
        </div>

    </section>

    <footer>
        <%- include('../../partials/footer.ejs') %>


        <script src="/js/createProduct.js"></script>
    </footer>
</body>

</html>