<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head.ejs') %>
    <title><%= title %></title>
</head>

<body>
    <header>
         <%- include('../../partials/header.ejs') %>
    </header>

    <main>


        <% for(let i=0;i < products.length;i++) {%>
        <div class='lista_productos'>
            <img class='imagen_lista_productos' src="/images/products/<%= products[i].image2 %>">
            <div class="titulo_precio_descripcion">
                <div class="nombre_lista"><a href="/productos/<%= products[i].categories.parent_slug %>/<%= products[i].categories.slug %>/<%= products[i].slug %>"><%=products[i].name%></a></div>
                <div class="precio_lista"><%=products[i].price%></div>
                <div class="descripcion_lista"><%=products[i].description%></div>
            </div>
            <button class="button-list"  
            data-id = <%=products[i].id%>  
            data-price = <%=products[i].price%> 
            data-name= "<%=products[i].name%>"  
            data-image= "<%=products[i].image2%>" 
            data-hasedition= <%=products[i].hasEdition%> 
            data-edition= "<%=products[i].edition%>">Agregar al carrito</button>
        </div>
        <% } %>

    </main>

    <footer>
        <%- include('../../partials/footer.ejs') %>
    </footer>
    <script src="/js/productList.js"></script>
</body>

</html>