<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
    <title>
      <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.core.min.css">
</head>

<body>
  <header>
    <%- include('../partials/header.ejs') %>
  </header>

  <div class="home">
    <% if (productsBanner != null && productsBanner.length > 0) { %>
     

    <div class="glideHeroHome">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">

         <% productsBanner.forEach(product => { %>
          <li class="glide__slide">

            <div class="backgroundBannerWrapper bannerOne"  style="background: url( '/images/products/<%= product.bannerImage %>' ) center center no-repeat; background-size: cover; position: relative;">&nbsp;</div>

            <div class="infoBannerWrapper">
              <div>
                <p class="bannerName"><%=product.name %></p>
                <h2 class="bannerTitle"><%=product.description %></h2>
                <p class="available"><%=product.categories.name %></p>
                <p class="price">$ <%= new Intl.NumberFormat("es-CO").format(product.price)  %>  </p>
              </div>
              <div>
                <a href="/productos/<%=product.categories.parentCategory.slug %>/<%=product.categories.slug %>/<%=product.slug %>" class="btn-secondary detailBanner">Ver detallles</a>
              </div>
              </a>

          </li>
         <% }) %>
         
        </ul>
      </div>

      <div data-glide-el="controls" class="controls">
        <button data-glide-dir="<">Back</button>
        <button data-glide-dir=">">Next</button>
      </div>

      <div class="glide__bullets" data-glide-el="controls[nav]">

          <button class="glide__bullet" data-glide-dir="=0"><%=productsBanner[0].name %></button>
          <button class="glide__bullet" data-glide-dir="=1"><%=productsBanner[1].name %></button>
          <button class="glide__bullet" data-glide-dir="=2"><%=productsBanner[2].name %></button>
          <button class="glide__bullet" data-glide-dir="=3"><%=productsBanner[3].name %></button>
      </div>
    </div>
    <% } %>


    <% if (productsSlider != null && productsSlider.length > 0) { %>
     

    <div class="nuevas-aventuras">
      <h4 class="title-section">Explora nuevas aventuras</h4>
      <a class="linkNormal" href="/productos/juegos">Ver todos</a>
    </div>

    <div class="newProductSlider container">
      <div class="glideNewProducts">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
         
         <% productsSlider.forEach(product => { %>
          <li class="glide__slide">
            <div class="thumbWrapper">
              <img src="/images/products/<%= product.image2 %>" class="thumbGameCover" alt="">
              <p class="gameTitle"><%= product.name %></p>
              <p class="thumbPlatform"><%=product.categories.name %></p>
              <p class="gamePrice">$ <%= new Intl.NumberFormat("es-CO").format(product.price)  %></p>
            
              <button id="myBtnHome" class="cartBtnThumb" 
              data-id = <%=product.id%>  
              data-price = <%=product.price%> 
              data-name= "<%=product.name%>"  
              data-image= "<%=product.image2%>" 
              data-hasedition= <%=product.hasEdition%> 
              data-edition= "<%=product.edition%>"
              data-category=<%=product.category%>
              data-userid=<%=user?.id%>
              
              >Añadir al carrito</button>
            </div>


 

          </li>
         <% }) %>
         



            <!-- <li class="glide__slide">
              <div class="thumbWrapper">
                <img src="/images/ittakestwo-cover-ps4.jpeg" class="thumbGameCover" alt="">
                <p class="gameTitle">It takes two</p>
                <p class="thumbPlatform">Play Station 4</p>
                <p class="gamePrice">$183.900</p>
                <a class="cartBtnThumb" href="#">Añadir al carrito</a>
              </div>
            </li>
            <li class="glide__slide">
              <div class="thumbWrapper">
                <img src="/images/outriders-cover-xboxone.jpg" class="thumbGameCover" alt="">
                <p class="gameTitle">Outriders</p>
                <p class="thumbPlatform">Xbox One</p>
                <p class="gamePrice">$213.900</p>
                <a class="cartBtnThumb" href="#">Añadir al carrito</a>
              </div>
            </li>
            <li class="glide__slide">
              <div class="thumbWrapper">
                <img src="/images/ittakestwo-cover-ps4.jpeg" class="thumbGameCover" alt="">
                <p class="gameTitle">It takes two</p>
                <p class="thumbPlatform">Play Station 4</p>
                <p class="gamePrice">$183.900</p>
                <a class="cartBtnThumb" href="#">Añadir al carrito</a>
              </div>
            </li>
            <li class="glide__slide">
              <div class="thumbWrapper">
                <img src="/images/ittakestwo-cover-ps4.jpeg" class="thumbGameCover" alt="">
                <p class="gameTitle">It takes two</p>
                <p class="thumbPlatform">Play Station 4</p>
                <p class="gamePrice">$183.900</p>
                <a class="cartBtnThumb" href="#">Añadir al carrito</a>
              </div>
            </li>
            <li class="glide__slide">
              <div class="thumbWrapper">
                <img src="/images/ittakestwo-cover-ps4.jpeg" class="thumbGameCover" alt="">
                <p class="gameTitle">It takes two</p>
                <p class="thumbPlatform">Play Station 4</p>
                <p class="gamePrice">$183.900</p>
                <a class="cartBtnThumb" href="#">Añadir al carrito</a>
              </div>
            </li> -->
          </ul>
        </div>

        <div data-glide-el="controls">
          <button class="glideNewProductsBack" data-glide-dir="<"><img src="/images/iconChevronRight.svg" alt="" width="32px"></button>
          <button class="glideNewProductsNext" data-glide-dir=">"><img src="/images/iconChevronRight.svg" alt="" width="32px"></button>
        </div>
      </div>
    </div>
    <% } %>


    <div class="nueva-generacion">
      <p>Bienvenido a la<span class="segunda-parte"> nueva generación</span></p>
    </div>

    <div class="imagenes-consolas">
      <a href="/productos/consolas/ps5">
        <div class="consola-1">
          <div class="imagen-consola-1">
            <img class="imagen-ps5" src="/images/products/ps5-controller.png">
          </div>
          <div class="info-consola-1">
            <p class="nombre-consola">Play Station 5</p>
            <p class="explorar">Explorar<span> ></span></p>
          </div>
        </div>
      </a>

      <a href="/productos/consolas/xbox-series-x">
        <div class="consola-2">
          <div class="imagen-consola-2">
            <img class="imagen-xbox" src="/images/products/xbox-controller.png">
          </div>
          <div class="info-consola-2">
            <p class="nombre-consola">XBOX Series X</p>
            <p class="explorar">Explorar<span> ></span></p>
          </div>
        </div>
      </a>
      <a href="/productos/consolas/nintendo-switch">
        <div class="consola-3">
          <div class="imagen-consola-3">
            <img class="imagen-switch" src="/images/products/switch-controller.png">
          </div>
          <div class="info-consola-3">
            <p class="nombre-consola">Nintendo Switch</p>
            <p class="explorar">Explorar<span> ></span></p>
          </div>
        </div>
      </a>
    </div>
  </div>
  </div>

  <div class="pc-gaming">PC Gaming</div>

  <div class="secciones-pc-gaming">
    <div class="headphones-monitores">
      <a href="/productos/accesorios">
        <div class="headphones">
          <img class="imagen-headphones" src="/images/products/headphones.png">
          <p>Accesorios</p>
        </div>
      </a>
      <a href="/productos/accesorios/monitores">
        <div class="monitores">
          <img class="imagen-monitor" src="/images/products/curved-monitor.png">
          <p>Monitores</p>
        </div>
      </a>

    </div>


    <a href="/productos/sillas-gamer"></a>
    <div class="sillas-gamer">
      <img class="imagen-silla" src="/images/products/silla-gamer.png">
      <p>Sillas Gamer</p>
    </div>
    </a>

        <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
          <span class="close">&times;</span>
      
          <div class="bulletStore bulletStoreThree">
              <img src="/images/iconHelp.svg" alt="">
              <div class="BulletInfoWrapper">
                  <h4>Producto añadido exitosamente!</h4>

                  <a class="linkNormal" href="/carrito-de-compras">Ir al carrito</a>
              </div>
          </div>
          </div>
      
      </div>

  </div>

  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
  <script src="/js/sliders.js"></script>
  <script type="module" src="/js/productListHome.js"></script>
  <script type="module" src="/js/cartLogic.js"></script>
</body>

</html>