<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head.ejs') %>
    <title><%= title %></title>
</head>

<body>
    <header>
         <%- include('../../partials/header.ejs') %>
    </header>

    <main>
        <section class="sectionTable">
            <h1>Lista de usuarios</h1>
            <table class="tableUsers" role="table">
                <thead role="rowgroup">
                  <tr role="row">
                    <th role="columnheader">Nombre</th>
                    <th role="columnheader">Apellido</th>
                    <th role="columnheader">Email</th>
                    <!-- <th role="columnheader">Avatar</th> -->
                    <th role="columnheader">Tipo</th>
                    <th role="columnheader">Acción</th>
                  </tr>
                </thead>
                <tbody role="rowgroup">
    
                  
                  <% users.forEach(user => { %>
                    <tr role="row">
                        <td role="cell"><%=user.firstName  %> </td>
                        <td role="cell"><%=user.lastName  %> </td>
                        <td role="cell"><%=user.email  %> </td>
                        <!-- <td role="cell"><%=user.avatar  %> </td> -->
                        <td role="cell"><%=user.UserTypeObj.type  %> </td>
                        <td role="cell"><a href="/admin/usuarios/editar/<%=user.id%>"><button class="button-edit-user">Editar</button></a> </td>
                    </tr>
                  <% }) %>
                
                </tbody>
              </table>
        </section>
    </main>

    <footer>
        <%- include('../../partials/footer.ejs') %>
    </footer>
</body>

</html>